---
---

@import "base";
@import "colors";
@import "font_awesome/font-awesome";
@import 'https://fonts.googleapis.com/css?family=Lato';
@import 'https://fonts.googleapis.com/css?family=Averia+Serif+Libre';

$dark-grey: rgb(80, 80, 80);
$white-text: rgb(245,245,245);
$small-border-radius: 3px;

$blue-box-background: rgb(232, 233, 253);
$blue-header: rgb(68, 61, 255);
$input-blue-border-bottom: inset 7px rgb(160, 160, 160);

html {
    font-family: verdana;
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    background: rgb(25, 25, 25);

    i {
        width: 20px;
        text-align: left;
    }
}

h1 {
    font-family: 'Averia Serif Libre', cursive;
    margin: 0;
    display: inline;
    font-size: 3.4rem;
}

h2 {
    margin: 0 0 10px 0;
    font-size: 1.4rem;
}

.page-header {
  color: #eee;
  height: 90vh;
  text-align: center;

  .page-header-metadata {
    position: relative;
    top: 40vh;
  }

  .page-header-video {
    filter: blur(15px);
    filter: brightness(50%);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

#info {
    position: fixed;
    z-index: 20;
    right: 5px;

    a {
        font-size: 1.4rem;
        text-decoration: none;
        cursor: pointer;
        padding: 2px 5px 4px 5px;
        background: rgba(0,0,0,0.8);
        color: rgb(38, 199, 2);
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }
}

#searchedcountries {
    min-height: 30px;
    margin-bottom: 15px;

    h3 {
        margin: 0;
        color: rgb(200,200,200);
    }

    span {
        font-size: 1.2rem;
        color: rgb(210,210,210);
        margin: 0 5px 0 5px;
    }
}

.content {
  position: relative;

  #app, #eventmap {
    height: 95vh;
  }

  #app {
    &> div, #eventbox, #eventcontainer, #leftbar {
      height: 100%;
    }
  }
}

.content-segment {
  &.content-bold {
    font-family: Lora,'Times New Roman',serif;
    font-size: 3em;
    padding: 75px 20%;

    .fine-print {
      color: #666666;
      font-size: .5em;

      a {
        color: #66AAEE;
      }
    }
  }

  &.about-intro {
    background: url('/assets/images/background_1800.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #DDDDDD;
  }

  &.subscribe-cta {
    background: #DDDDDD;
    color: #333333;

    .button {
      margin: 0 auto;
    }
  }

  p {
    margin: 0;
  }

  p + p {
    margin-top: 1.5em;
  }
}


.button {
  -moz-box-shadow:inset 0px 1px 0px 0px #a4e271;
  -webkit-box-shadow:inset 0px 1px 0px 0px #a4e271;
  box-shadow:inset 0px 1px 0px 0px #a4e271;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809));
  background:-moz-linear-gradient(top, #89c403 5%, #77a809 100%);
  background:-webkit-linear-gradient(top, #89c403 5%, #77a809 100%);
  background:-o-linear-gradient(top, #89c403 5%, #77a809 100%);
  background:-ms-linear-gradient(top, #89c403 5%, #77a809 100%);
  background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809',GradientType=0);
  background-color:#89c403;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #74b807;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:1em;
  font-weight:bold;
  padding:.3em 1em;
  text-decoration:none;
  text-shadow:0px 1px 0px #528009;

  &:hover, &:active, &:focus {
    color:#ffffff;
    text-decoration:none;
  }

  &:hover {
    background:-moz-linear-gradient(top, #77a809 5%, #89c403 100%);
    background:-ms-linear-gradient(top, #77a809 5%, #89c403 100%);
    background:-o-linear-gradient(top, #77a809 5%, #89c403 100%);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403));
    background:-webkit-linear-gradient(top, #77a809 5%, #89c403 100%);
    background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403',GradientType=0);
    background-color:#77a809;
  }

  &:active {
    position:relative;
    top:1px;
  }
}


#eventmap {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    #map {
        width: 100%;
        height: 100%;
    }

    #zoomcontrol {
        cursor: pointer;
        font-size: 5rem;
        position: absolute;
        right: 0;
        z-index: 2;
        bottom: 0;
        background: rgba(0,0,0,0.8);
        width: 80px;
        color: white;
    }

    span {
        display: block;
        text-align: center;

        &:hover {
            background: rgba(103, 103, 103,0.8);
        }
    }

    #plus {
        border-bottom: solid 2px rgb(200,200,200);
    }
}

#leftbar {
    width: 25%;
    min-width: 360px;
}

#eventlist {
    background: rgba(0,0,0,0.8);
    position: relative;
    height: calc(100% - 70px);
    z-index: 12;
    width: 100%;
    overflow-y: scroll;


    .event {
        color: rgb(136, 136, 136);
        cursor: pointer;
        padding: 20px 5px 20px 5px;

        &:hover, &.highlight {
            //background: rgba(230,230,230,0.9);
            background: rgba(103, 103, 103,0.8);
            color: rgb(240, 240, 240);
        }

        & .daysleft {
            text-align: right;
            width: 25%;

            &.red div {
                color: white;
                background: rgb(90, 17, 17);
                display: inline;
                padding: 2px 3px 2px 3px;
                border-radius: 3px;
            }
        }

        & h2 {
            vertical-align: top;
            color: rgb(230,230,230);
            display: inline-block;
            width: 69%;
        }

        & span {
            display: inline-block;
            font-size: 1.2rem;
        }

        .date {
            min-width: 115.5px;
            width: 33%;
        }
        .country {
            width: 44%;
            min-width: 154px;
        }

        .length {
            text-align: right;
            width: 23%;
            min-width: 80.5px;
        }

        & .eventstats {
            margin: 5px 0 5px 0;
        }
    }
}

#filter {
    width: 100%;
    height: 45px;
    padding: 10px 0 15px 0;
    position: relative;
    z-index: 2;
    text-align: center;
    background: rgba(0,0,0,0.8);

    input {
        opacity: 0.7;
    }

    .InputRange {
        width: 85%;
        margin: 25px auto 15px auto;
    }

    .Select {
        margin: 0 auto 0 auto;
        width: 90%;
    }

    .tolabel {
        color: white;
    }

    #lengthfilter {
        color: white;
        position: absolute;
        top: 135px;
        left: 50%;
        transform: translateX(-50%);
    }
}

input[type="search"] {
    width: 90%;
    margin: 0 0 15px 0;
    border: none;
    height: 35px;
    outline: none;
    font-size: 1.4rem;
    border-radius: 3px;
    padding: 0 8px 0 8px;
    @include box-shadow-direction(inset, 0px, 0px, 7px, 1px, rgb(30, 30, 30));

    &:focus, &:hover {
        @include box-shadow-direction(inset, 0px, 0px, 7px, 1px, rgb(65, 76, 167));        
    }
}

#eventbox .box {
    position: fixed;
    top: 0;
    z-index: 101;

    .box_background {
        z-index: 102;
        position: fixed;
        background: rgba(0, 0, 0, 0.8);
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }

    .eventinfo {
        font-size: 1.4rem;
        cursor: auto;
        z-index: 103;
        height: 94%;
        overflow-y: scroll;
        background: rgba(0,0,0,1);
        position: fixed;
        left: 50%;
        top: 3%;
        transform: translate(-50%, 0);
        background: rgb(240,240,240);
        display: block;
        width: 90%;
        max-width: 560px;
        color: rgb(70,70,70);

        & h3 {
            text-align: center;
            color: rgb(111, 111, 111);
            font-size: 2.4rem;
        }

        & article {
            padding: 0 0 20px 0;
        }

        & .daysleft {
            text-align: left;
        }

        & address {
            margin: 40px auto 10px auto;
            display: block;
            background: rgb(208, 208, 208);
            max-width: 200px;
            border: solid 1px rgb(170,170,170);
            padding: 10px;
        }

        & address span.address {
            display: block;
        }

        & .homepage {
            text-align: center;
            font-size: 1.4rem;
            text-decoration: none;
        }

        & .socialmedia {
            position: relative;

            & .share {
                position: absolute;
                z-index: 104;
                text-align: left;
                left: 0px;
                width: 90px;

                & > div {
                    cursor: pointer;
                    background: rgb(70, 70, 70);
                    width: 90px;
                    padding: 4px;
                }

                & > div:hover {
                    background: rgb(43, 85, 255);
                }

                & .pluginButton {
                    background: rgb(70, 70, 70);
                }
                & .pluginButton:hover {
                    

                }
            }
        }
    }

    .boxheader {

        & .daysleftbox {
            background: rgb(70, 70, 70);
            padding: 5px 5px 4px 5px;
            border-bottom-right-radius: 3px;
            color: white;
        }

        & div {
            display: inline-block;
            width: 50%;
        }
        & .closebtn {
            text-align: right;
        }
        & .closebtn span {
            cursor: pointer;
            background: rgb(70, 70, 70);
            padding: 5px 5px 4px 5px;
            color: rgb(230,230,230);
            border-bottom-left-radius: 3px;
        }

        & .closebtn span:hover {
            background: rgb(169, 93, 93);
        }
    }

    .infotextaboutevent {
        padding: 0 10px 0 10px;
        display: inline-block;
        font-size: 1.4rem;
        letter-spacing: 0.3px;
        line-height: 20px;
    }

    .details {
        background: rgb(70,70,70);
        color: white;
        padding: 10px 5px 10px 5px;
        text-align: center;
        
        & span {
            width: 25%;
            display: inline-block;
            vertical-align: top;
        }
    }
}


.video-container {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}


.eventtransition-enter {
  opacity: 0.01;
}

.eventtransition-enter.eventtransition-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.eventtransition-leave {
  opacity: 1;
}

.eventtransition-leave.eventtransition-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}


.center {
  text-align: center;
}


.hideoverflow {
  overflow: hidden !important;
}


#googleform {
    display: none;
    position: fixed;
    top: 0;
    z-index: 50;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0,0,0,0.9);
    width: 100%;
    height: 100%;

    iframe {
        position: relative;
        z-index: 51;
        width: 760px;
        height: 100%;
        display: block;
        margin: 0 auto 0 auto;
    }
}


@media screen and (max-width: 800px) {
    #zoomcontrol {
        display: none;
    }
    #info {
        display: none;
    }
    #app {
        height: 100%;
    }

    #leftbar {
        width: 100%;
        position: relative;
    }

    #filter {
        max-width: 100%;
        height: auto;
    }

    #eventlist {
        position: relative;
        min-width: 100%;
        max-width: 100%;
        width: 100%;
        height: 100%;
    }

    .content-segment.content-bold {
        padding: 15px 10px 15px 10px;
    }
}

@media screen and (max-width: 400px) {
    #eventlist {
        & h2 {
            max-width: 233px;
        }

        & .daysleftcontainer {
            min-width: 100px;
        }
    }

}
