<!doctype html>
<html>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - HEAD -->
<head>
    {% include base.html %}
    <!-- META TAGS -->
    <meta charset="utf-8">
    <meta name="keywords" content="Muddest">
    <meta name="author" content="Tomas Sj&ouml;sten">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Unique description of the current page -->
    <meta name="description" content="Muddest - gathering Obstacle race information, events">

    <!-- TITLE -->
    <title>Muddest</title>

    <!-- STYLESHEET & FAVICON -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    <link rel="stylesheet" href="{{base}}/css/screen.css" type="text/css">
    <link rel="stylesheet" href="{{base}}/css/components.css" type="text/css">
    <link rel="stylesheet" href="{{base}}/css/default.css" type="text/css">
    <link rel="stylesheet" href="{{base}}/css/inputrange.css" type="text/css">


    <!-- INCLUDE JQUERY & JQUERY UI -->
    <script type="text/javascript" src="{{base}}/assets/javascripts/jquery.js"></script>
    <script type="text/javascript" src="{{base}}/assets/javascripts/main.js"></script>
    
</head>

<body>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - HEADER -->
    <header>
        <div id="title">
            <h1>{{ page.title }}</h1>
            <span id="slogan">- {{ page.slogan }}</span>
        </div>
        <span id="tipus"><a href="https://goo.gl/forms/tYewWTC3GNKI2GDs1" target="_blank">Can't find your event? Click this link and let us know</a></span>
        <span id="contact"><a href="mailto: mikael">info@muddest.com</a></span>
    </header>



    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - MAIN -->
    <main>
        <div class="content">
            {{ content }}
        </div>
    </main>



    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - FOOTER -->
    <footer>
    </footer>
    <script type="text/javascript" src="{{base}}/assets/javascripts/bundle.js" charset="utf-8"></script>
</body>

</html>