<!doctype html>
<html>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - HEAD -->
<head>
    {% include base.html %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Muddest</title>
    <meta name="description" content="Muddest - a world of Obstacle races.">
    <meta name="keywords" content="OCR, Obstacle race">
    <meta name="author" content="Tomas Sj&ouml;sten">

    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5WMC3W');</script>

    <link rel="stylesheet" href="{{base}}/css/screen.css" type="text/css">
    <link rel="stylesheet" href="{{base}}/css/components.css" type="text/css">
    <link rel="stylesheet" href="{{base}}/css/default.css" type="text/css">
    <link rel="stylesheet" href="{{base}}/css/inputrange.css" type="text/css">

    <script>
        var password;
        do {
            password = prompt('Enter your password');
        } while (
            'grit' != password
            &&
            'charles' != password
            &&
            'shazza' != password
            &&
            'ryan' != password
            &&
            'gary' != password
            &&
            'vincent' != password
            &&
            'paul' != password
            &&
            'steph' != password
            &&
            'sam' != password
            &&
            'robin' != password
            &&
            'april' != password
            &&
            'styves' != password
            &&
            'matt' != password
            &&
            'kevin' != password
        )
    </script>

    <script type="text/javascript" src="{{base}}/assets/javascripts/jquery.js"></script>
    <script type="text/javascript" src="{{base}}/assets/javascripts/main.js"></script>
</head>

<body>
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5WMC3W"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - HEADER -->
    <section class="page-header">
        <div id="header-card-scrolling">
            <i id="menu-bars-scrolling" class="fa fa-bars hidden" aria-hidden="true"></i>
            <span class="card">
                <h3>For organizers</h3>
                <ul>
                    <li><a href="https://goo.gl/forms/AHPUgEeDVPtxwCQx2" target="_blank">Contact us</a></li>
                </ul>
            </span>
            <span class="card">
                <h3>For you</h3>
                <ul>
                    <li><a class="show-google-form tipus" href="">Tip us about an event</a></li>
                    <li><a href="http://muddest.us14.list-manage2.com/subscribe?u=00a282ced70ac8e0012b517fd&id=80c56b66a0" target="_blank">Sign up to our newsletter</a></li>
                </ul>
            </span>
            <span class="card">
                <ul>
                    <li><a class="about-us-link" href="">About us</a></li>
                </ul>
            </span>
        </div>
        

        <video loop muted autoplay class="page-header-video">
            <source src="assets/video/header-background.mp4" type="video/mp4">
        </video>

        <header class="page-header-metadata">
            <h1 class="page-title">{{ page.title }}</h1>
            <h2 class="page-slogan">{{ page.slogan }}</h2>
        </header>
    </section>



    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - MAIN -->
    <main class="content">
        {{ content }}
    </div>



    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - FOOTER -->
    <footer class="page-footer">
        <div class="page-footer-social-media">
            <span class="page-footer-social-media-network">
                <a href="https://twitter.com/themuddest" data-size="large" class="twitter-follow-button" data-show-count="false">Follow @themuddest</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </span>
            <span class="page-footer-social-media-network">
                <div class="fb-share-button" data-href="http://www.muddest.com" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.muddest.com%2F&amp;src=sdkpreparse">Share</a></div>
            </span>
        </div>
    </footer>
    <script type="text/javascript" src="{{base}}/assets/javascripts/bundle.js" charset="utf-8"></script>

    <!-- MailChimp popup -->
    <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us14.list-manage.com","uuid":"00a282ced70ac8e0012b517fd","lid":"80c56b66a0"}) })</script>
</body>

</html>
