<!doctype html>
<html>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - HEAD -->
<head>
    {% include base.html %}
    <!-- META TAGS -->
    <meta charset="utf-8">
    <meta name="keywords" content="Muddest">
    <meta name="author" content="Tomas Sj&ouml;sten">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Unique description of the current page -->
    <meta name="description" content="Muddest - gathering Obstacle race information, events">

    <!-- TITLE -->
    <title>Muddest</title>

    <!-- STYLESHEET & FAVICON -->
    <link rel="stylesheet" href="{{base}}/css/screen.css" type="text/css">
    <link rel="stylesheet" href="{{base}}/css/components.css" type="text/css">
    <link rel="stylesheet" href="{{base}}/css/default.css" type="text/css">
    <link rel="stylesheet" href="{{base}}/css/inputrange.css" type="text/css">

    <script>
        while ('grit' != prompt('Enter your password')) { }
    </script>

    <!-- INCLUDE JQUERY & JQUERY UI -->
    <script type="text/javascript" src="{{base}}/assets/javascripts/jquery.js"></script>
    <script type="text/javascript" src="{{base}}/assets/javascripts/main.js"></script>
    
</head>

<body>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - HEADER -->
    <header>
        <div id="title">
            <h1>{{ page.title }}</h1>
            <span id="slogan">- {{ page.slogan }}</span>
        </div>
    </header>



    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - MAIN -->
    <main>
        <div class="content">
            {{ content }}
        </div>
    </main>



    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - FOOTER -->
    <footer>
    </footer>
    <script type="text/javascript" src="{{base}}/assets/javascripts/bundle.js" charset="utf-8"></script>

    <!-- MailChimp popup -->
    <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us14.list-manage.com","uuid":"00a282ced70ac8e0012b517fd","lid":"80c56b66a0"}) })</script>
</body>

</html>
